body {
  background-color: #f8f9fa;
}
.card {
  border-radius: 10px;
}
.card-header {
  font-weight: 600;
}
.sidebar-open {
  width: 220px !important;
}

.sidebar-closed {
  width: 60px !important;
}
